<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="OrderSetting">
      <section name="OrderMapping" type="System.Configuration.DictionarySectionHandler" />
      <section name="OrderCarrierMapping" type="System.Configuration.DictionarySectionHandler" />
      <section name="MagentoStatutId" type="System.Configuration.DictionarySectionHandler" />
      <section name="MultiLangue" type="System.Configuration.DictionarySectionHandler" />
      <section name="InfoLibre" type="System.Configuration.DictionarySectionHandler" />
      <section name="InfoLibreValue" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="SERVER" value="ALTAIS-XAPP0150\SAGE100" />
    <add key="DBNAME" value="BIJOU" />
    <add key="SQLUSER" value="sa" />
    <add key="SQLPWD" value="Inax2f5q!" />
    <add key="TOKENB2C" value="6f5539ss1x7bf3tmb26u6hzvmq9er3m3" />
    <add key="TOKEN" value="6f5539ss1x7bf3tmb26u6hzvmq9er3m3" />
    <add key="STOREB2B" value="1" />
    <add key="STOREB2C" value="2" />
    <add key="WEBSITE" value="1" />
    <add key="CATTARIFB2C" value="4" />
    <add key="CATEGORY" value="2" />
    <add key="FLAG" value="1" />
    <add key="ATTRIBUTESETID" value="4" />
    <add key="DefaultExpeditionReference" value="TRANSPORT" />
    <add key="DefaultRemiseReference" value="ZREMISE" />
    <add key="EDITARTICLE" value="TRUE" />
    <add key="USER" value="ALTAIS" />
    <add key="BASEURLB2B" value="https://espacepro.louistellier.fr/" />
    <add key="BASEURLB2C" value="https://www.gobel.fr/" />
    <add key="CRONSYNCHROPRODUCT" value="00:00" />
    <add key="CRONSYNCHROPRODUCTDONE" value="TRUE" />
    <add key="TVA" value="20" />
    <add key="ARRONDI" value="2" />
    <add key="DEFAULTSTOCK" value="TRUE" />
    <add key="LOCALDB" value="FALSE" />
    <add key="BTOCGROUPCLIENT" value="General" />
    <add key="CRONTASKUPDATESTATUT" value="600000" />
    <add key="CRONTASKCHECKFORNEWORDER" value="900000" />
    <add key="COMPTG" value="" />
    <add key="CATTARIF" value="" />
    <add key="CONDLIVRAISON" value="" />
    <add key="EXPEDITION" value="" />
    <add key="SOUCHE" value="N° Pièce" />
    <add key="SOUCHEB2C" value="e-Shop" />
    <add key="CATEGORIECOMPTABLEDEFAUT" value="Ventes TVA" />
    <add key="CATEGORIECOMPTABLEFOREIGNER" value="Ventes CEE" />
    <add key="PREFIXCLIENT" value="PREFIX" />
    <add key="CONTACTCONFIG" value="1" />
    <add key="GCM_SET" value="TRUE" />
    <add key="GCM_PATH" value="C:\Users\Public\Documents\Sage\Entreprise 100c\Bijou.gcm" />
    <add key="GCM_USER" value="&lt;Administrateur&gt;" />
    <add key="GCM_PASS" value="" />
    <add key="MAE_SET" value="TRUE" />
    <add key="MAE_PATH" value="C:\Users\Public\Documents\Sage\Entreprise 100c\Bijou.MAE" />
    <add key="MAE_USER" value="&lt;Administrateur&gt;" />
    <add key="MAE_PASS" value="" />
    <add key="CRONSYNCHROCLIENT" value="12:30" />
    <add key="CRONSYNCHROCLIENTDONE" value="FALSE" />
    <add key="DEPOT1" value="GOBEL_REAPPRO" />
    <add key="DEPOT2" value="GOBEL_MASSE" />
    <add key="DEPOT3" value="GOBEL_PICKING" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <OrderSetting>
    <OrderMapping>
      <add key="default" value="1_2_3" />
      <add key="1" value="DocumentTypeVentePrepaLivraison_Préparation de livraison" />
      <add key="2" value="DocumentTypeVenteLivraison_Bon de livraison" />
      <add key="3" value="DocumentTypeVenteFacture_Facture" />
      <add key="4" value="DocumentTypeVenteFactureCpta_FactureComptabilisée" />
    </OrderMapping>
    <OrderCarrierMapping>
      <add key="1" value="Sernam" />
    </OrderCarrierMapping>
    <MagentoStatutId>
      <add key="default" value="1_4_3" />
      <add key="1" value="processing" />
      <add key="2" value="pending" />
      <add key="3" value="complete" />
      <add key="4" value="expedie" />
    </MagentoStatutId>
    <MultiLangue>
      <add key="default" value="1_2_1_1" />
      <add key="1" value="Français" />
      <add key="2" value="Anglais" />
    </MultiLangue>
    <InfoLibre>
      <add key="default" value="1_2_3_4" />
      <add key="1" value="1ère commercialisation" />
      <add key="2" value="Marque commerciale" />
      <add key="3" value="Objectif / Qtés vendues" />
      <add key="4" value="Pourcentage teneur en or" />
    </InfoLibre>
    <InfoLibreValue>
      <add key="default" value="1_2_3_4" />
      <add key="1" value="5" />
      <add key="2" value="6" />
      <add key="3" value="7" />
      <add key="4" value="8" />
    </InfoLibreValue>
  </OrderSetting>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>